.card__like-button {
  background-image: url('../../../images/icon_like-inactive.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  border: 0;
  width: 21px;
  height: 21px;
  cursor: pointer;
}
