.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  border: 1px solid #fff;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.button:hover {
  opacity: 0.85;
}

@media screen and (max-width: 960px) {
  .button {
    font-size: 14px;
  }

  .button:hover {
    opacity: 1;
  }
}
