.card__button-delete {
  position: absolute;
  border: 0;
  right: 15px;
  top: 18px;
  width: 18px;
  height: 19px;
  background-image: url("../../../images/icon_delete.svg");
  background-size: contain;
}